body {
  background-color: black;
}

#window-loader {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  position: absolute;
  width: 600px;
  height: 500px;
}

#loading-screen {
  display: none;
}

#desktop {
  width: 600px;
  height: 500px;
  display: none;
  position: relative;
}

#task-bar {
  bottom: 0px;
  left: 0px;
  width: 595px;
  height: 30px;
  position: absolute;
}

#task-bar-aligner {
  width: 595px;
  height: 30px;
  position: relative;
}

#start {
  top: 50px;
  width: 40px;
  height: 30px;
  text-align: center;
}

#timedate {
  top: 5px;
  width: 50px;
  border-style: inset;
  right: 2px;
  font-size: 15px;
  position: absolute;l
}